* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
   background-color: rgb(216, 228, 205);
}
.container{
  max-width: 700px;
  min-height: 500px;
   /* display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0 20px 50px rgba(0,0,0.8);
    margin: 15px;
     background-color: rgb(216, 228, 205); 

}
.zoom{
  display: flex;
  margin: 10px;
  justify-content: space-between;
   background-color: rgb(216, 228, 205); 

}
.artigo{

background-color: beige;
margin-top: 10px;
margin: 10px;
font-size: 20px;
box-shadow:0 20px 50px rgba(0,0,0.8);

}
.conteudo{

flex-direction: column;
justify-content: center;
align-items: center;  
min-height: 400px;  
background-color: azure;
}
.btconteudo{
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: rgb(216, 228, 205); 
}
.bts{
margin-top: 40px;
margin: 10PX;  
display: flex;
align-items: center;
justify-content: space-around;
}
.fiartigo{
  display: flex;
  justify-content: center;
min-height: 300px;
background-color: rgb(216, 228, 205);
margin-top: 10px;
margin: 5px;
padding: 10px;
box-shadow:0 20px 50px rgba(0,0,0.8);
font-size: 20px;
}

