body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
   
    width: 700px;
    
    padding: 10px;
    gap: 15px;
    box-shadow:0 20px 50px rgba(0,0,0.8);
  /*  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);*/

}
img{
    font-size: 15px;
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}
.btn{
 flex: 1;   
 text-align: left;   
 box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
 color: inherit;
 border-radius: 10px;
 font-size: 20px;
}
.youtube{
 display: flex;
 justify-content: center; 
 
}
.nav{
 display: flex;
 justify-content: space-around;
 padding: 10px;  
}
.correto{
    background-color: #d4fcd4;
   /* background-color: green;*/
}
.incorreto{
    background-color: #ffd6d6;
 /*   background-color: red;*/
}

span{
    color: rgb(0, 0, 0);
}
p{
  color: rgb(10, 10, 10);  
  text-align: left;
 line-height:25px ;
 font-size: 16px;


}
button{
   background: transparent;
   border: none;
}


/*
 box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); card geral
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); btn sombra
  box-shadow:0 20px 50px rgba(0,0,0.8);
*/